<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slawek.sziolmobile" >

     <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".GpsService"></service>
        <service android:name=".NotificationService"></service>
        <service android:name=".InternetConnectionService"></service>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
>




            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrdersActivity"
            android:screenOrientation="portrait"

            android:label="@string/app_name">
         </activity>
        <activity
            android:name=".OrdersActivitySettings"
            android:screenOrientation="portrait"

            android:label="@string/app_name">

        </activity>
        <activity android:name=".NotificationReciver"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".CardItems"></activity>
        <activity android:name=".TeamOrders"></activity>
        <activity android:name=".TeamOrdersList"></activity>
        <activity android:name=".TeamOrdersListDetails"></activity>
        <activity android:name=".CardItemsDetails"></activity>

        <activity
            android:name=".UserLog"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
            <!--       <intent-filter>
                     <action android:name="android.intent.action.MAIN" />

                     <category android:name="android.intent.category.DEFAULT" />
                 </intent-filter>
                 -->
        </activity>
        <activity
            android:name=".ClientsActivitySettings">
         </activity>
        <activity android:name=".EditClientActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".NewOrderActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".EditOrderActivity"
            android:screenOrientation="portrait"
            ></activity>


        <activity
            android:name=".UserReg"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NewClient"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ClientsActivity"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MenuNavigation"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
